body {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background: #101825;
    margin: 0;
}

.wapper {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 150px;
    display: block;
}

.up-header {
    text-decoration: none;
    padding: 4px;
}

.up-header table {
    width: 100%;
}

.up-header h3 {
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.up-header a {
    text-decoration: none;
    color: white;
}

.genre-menu {
    position: relative;
    display: inline-block;
}

.genre-menu > a,
#genre-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.arrow {
    width: 13px;
    height: 13px;
    filter: brightness(0) invert(1);
}

.genre-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 520px;
    background: white;
    padding: 18px 25px;
    border-top: 3px solid #ff7a00;
    z-index: 99999;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 35px;
}

.genre-dropdown a {
    color: #111 !important;
    display: block;
    text-decoration: none;
}

.genre-dropdown.show {
    display: grid;
}

.search button img {
    width: 10px;
    height: 10px;
    padding: 0;
}

.login-page {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 360px;
    background: #1f2b3a;
    border-radius: 8px;
    padding: 25px;
    color: white;
    box-sizing: border-box;
}

.login-box h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-box label {
    text-align: left;
    display: block;
    font-size: 13px;
    margin: 10px 0 6px;
}

.login-box input {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
}

.login-btn,
#registerBtn,
#loginBtn{
    width:100%;
    height:42px;

    background:#2ecc71;
    color:white;

    border:none;
    border-radius:6px;

    font-size:15px;
    font-weight:600;

    margin-top:15px;
    cursor:pointer;

    display:block;
    box-sizing:border-box;
}

.login-btn:hover,
#registerBtn:hover,
#loginBtn:hover{
    background:#27ae60;
}

.login-box p {
    text-align: center;
    color: #cbd5e1;
    font-size: 13px;
    margin-top: 15px;
}

.login-box p a {
    color: #38bdf8;
    text-decoration: none;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: white;
}

.user-btn img {
    width: 45px;
    height: 45px;
    border-radius: 30%;
    border: 2px solid #A9D169;
    object-fit: cover;
}

.user-arrow {
    color: #ffd700;
    font-size: 14px;
    transition: 0.3s;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background: white;
    color: #222;
    border: 1px solid #ff4d7d;
    border-radius: 5px;
    z-index: 99999;
    overflow: hidden;
    text-align: left;
}

.user-dropdown.show {
    display: block;
}

.user-head {
    gap: 12px;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #ff4d7d;
}

.user-head h3 {
    text-align: center;
    margin: 0;
    color: #222;
}

.user-head p {
    text-align: center;
    margin: 4px 0 0;
    color: #555;
    font-size: 14px;
}

.user-money {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.user-dropdown a {
    display: block;
    padding: 12px 20px;
    color: #222;
    text-decoration: none;
    font-size: 16px;
}

.user-dropdown a:hover {
    background: #f3f3f3;
}

.user-dropdown img {
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
}

#adminLink {
    display: none;
}
.captcha-box {
    margin-top: 10px;
}

.captcha-box p {
    margin: 5px 0;
}

.captcha-code {
    background: #101825;
    color: #ffd700;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.genre-dropdown.show{
    display: grid;
}

.user-dropdown.show{
    display: block;
}